{{/* Determine the correct context and scope */}}
{{/* This allows for different logic depending on where the partial is called */}}
{{ $context := . }}
{{ $scope := default nil }}
{{ if (reflect.IsMap . ) }}
  {{ $context = .context }}
  {{ $scope = cond (not .scope) nil .scope }}
{{ end }}

<span class="proper-links relative z-10">

{{ with $context.Params }}

{{ if and .externalUrl (eq $scope "single") }}
<a href="{{ .externalUrl }}">Video</a>
<span class="px-2 text-primary-500">&middot;</span>
{{ end }}


{{ if .slides }}
<a href="{{ .slides }}">Slides</a>
{{ if .slidesPdf }}(<a href="{{ .slidesPdf }}">pdf version</a>){{ end }}
<span class="px-2 text-primary-500">&middot;</span>
{{ else if .slidesPdf }}
<a href="{{ .slidesPdf }}">Slides</a>
<span class="px-2 text-primary-500">&middot;</span>
{{ end }}

{{ .where }}

{{ if eq $scope "single" }}
<span class="px-2 text-primary-500">&middot;</span>
{{ partial "meta/date.html" .date }}
{{ end }}

{{ end }}

</span>