{{ define "main" }}
  {{ if .Site.Params.homepage.layoutSwitcher | default false }}
    {{ partial "home/layout-switcher.html" . }}
  {{ else }}
    {{ $partial := print "home/" .Site.Params.homepage.layout ".html" }}
    {{ if templates.Exists ( printf "partials/%s" $partial ) }}
      {{ partial $partial . }}
    {{ else }}
      {{ partial "home/profile.html" . }}
    {{ end }}
  {{ end }}

  {{/* partial "main-section.html" (.Site.GetPage "/talks") */}}
  {{/* partial "main-section.html" (.Site.GetPage "/projects") */}}
  {{ $talks := .Site.GetPage "/talks" }}
  {{ $projects := .Site.GetPage "/projects" }}
  <h2 class="mt-8 text-2xl font-extrabold mb-2">
    <a class="hover:underline hover:underline-offset-2" href="{{ $talks.RelPermalink }}">Talks</a>
    and
    <a class="hover:underline hover:underline-offset-2" href="{{ $projects.RelPermalink }}">Projects</a>
  </h2>
  <!-- Based on themes/blowfish/layouts/partials/recent-articles/cardview.html -->
  <section class="w-full grid gap-4 sm:grid-cols-2 md:grid-cols-3">
    {{ range (union $talks.RegularPages $projects.RegularPages) }}
      {{ partial "article-link/card.html" . }}
    {{ end }}
  </section>

  {{ $posts := .Site.GetPage "/posts" }}
  <h2 class="mt-8 text-2xl font-extrabold mb-2">
    <a class="hover:underline hover:underline-offset-2" href="{{ $posts.RelPermalink }}">Blog Posts</a>
  </h2>
  Coming Soon

  {{ partial "main-section.html" (.Site.GetPage "/academic") }}
{{ end }}